doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/reset.css')
    //- link(rel='stylesheet', type='text/css', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', type='text/css', href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/animate.css')
    link(rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon")
    //- link(rel="apple-touch-icon" href="public/images/apple-touch-icon.png")
    //- link(rel="apple-touch-icon" sizes="72x72" href="public/images/apple-touch-icon-72x72.png")
    //- link(rel="apple-touch-icon" sizes="114x114" href="public/images/apple-touch-icon-114x114.png")
    link(rel="shortcut icon" href="/images/favicon/favicon_2.png" type="image/png")
    link(rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css" media="screen")    
    link(rel='stylesheet', type='text/css', href='/stylesheets/general.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main_header.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main_content.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main_footer.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' defer)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5qaOB2iqKrptDdcFVpYqEfUB6C3vJiNQ&language=en" defer)
        //indicate exactly https instead of http in the link to Google Maps API to display a map it on Heroku
    script(type="text/javascript" src="fancybox/jquery.fancybox.pack.js" defer)
    script(type="text/javascript" src="/javascripts/waypoints.min.js" defer)
    script(type="text/javascript" src="/javascripts/animate-css.js" defer)
    script(type="text/javascript" src="/javascripts/viewportchecker.js" defer)
    script(type="text/javascript" src="/javascripts/pageScroll.min.js" defer)    
    script(src="/javascripts/bootstrap.min.js" defer)
    script(src="/javascripts/form.js" defer)
    script(src="/javascripts/events.js" defer)
    script(src="/javascripts/googlemap.js" defer)
    body
        block content