
<nav>
  <div class="typeText"></div>
  <div class="myPic"><img src="../images/profilePic.jpg" alt="It's Me"/></div>
  <script type="text/javascript">
    var text = "Welcome to my site! I am glad to see you here!";
    i = 0;
    function type(){
    	i++;
    	if( i <= text.length )
    		document.querySelector(".typeText").innerHTML = text.substring(0, i);
    
    	setTimeout(type, 150);
    }
    type();
    
    //- var text = "Dear guest, welcome to my site!";
    //- i = 0;
    
    //- function type(someString){
    //- 	var someString = this;
    //- 	i++;
    //- 	if( i <= this.length )
    //- 		document.querySelector(".typeText").innerHTML = this.substring(0, i);
    
    //- 	setTimeout(type, 50);
    //- }
    
    //- type(text);
  </script>
</nav>