footer
	//- ul.socialize--footer
	//- 	li.socialize-item
	//- 		a.socialize-item--linkedIn(href='https://ua.linkedin.com/in/kseniya-yarosh-00846911b', tagret='_blank')
	//- 			i.fa.fa-linkedin-square
	//- 	li.socialize-item
	//- 		a.socialize-item--github(href='https://github.com/KseniyaY', tagret='_blank')
	//- 			i.fa.fa-github-square
	//- 	li.socialize-item
	//- 		a.socialize-item--pinterest(href='https://ru.pinterest.com/okyarosh/', tagret='_blank')
	//- 			i.fa.fa-pinterest-square

	ul.addMenu
		li.addMenu-item
			a.addMenu-item--link.about(href='#aboutMe', tagret='') About me
		li.addMenu-item
			a.addMenu-item--link.works(href='#myWorks', tagret='') My works
		li.addMenu-item
			a.addMenu-item--link.contact(href='#contactMe', tagret='') Contact me

	p.copyright © 2016 Kseniya Yarosh							