@import (reference) "mixins.less";
@import (reference) "variables.less";
@import "font-awesome.css";


@font-face {
    font-family: "FontAwesome";
    src: url('fonts/fontawesome-webfont.ttf');   
}

@font-face {
    font-family: 'FeltTipWoman';
    /*проверяем наличие шрифта в ОС пользователя*/
    src: local("FeltTipWoman"), 
      url('fonts/FeltTipWoman.ttf'); /* если шрифт не установлен, тогда загружаем его по указанному пути */

}

html, body {
  min-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  min-height: 100%;
/*  background: #000;*/
background: rgba(19,19,19,1);
background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 8%, rgba(23,23,23,1) 12%, rgba(28,28,28,1) 16%, rgba(41,41,41,1) 23%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 36%, rgba(82,41,38,1) 47%, rgba(112,50,41,1) 61%, rgba(117,58,58,1) 71%, rgba(71,53,53,1) 87%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,19,19,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(8%, rgba(17,17,17,1)), color-stop(12%, rgba(23,23,23,1)), color-stop(16%, rgba(28,28,28,1)), color-stop(23%, rgba(41,41,41,1)), color-stop(24%, rgba(43,43,43,1)), color-stop(36%, rgba(44,44,44,1)), color-stop(47%, rgba(82,41,38,1)), color-stop(61%, rgba(112,50,41,1)), color-stop(71%, rgba(117,58,58,1)), color-stop(87%, rgba(71,53,53,1)));
background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 8%, rgba(23,23,23,1) 12%, rgba(28,28,28,1) 16%, rgba(41,41,41,1) 23%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 36%, rgba(82,41,38,1) 47%, rgba(112,50,41,1) 61%, rgba(117,58,58,1) 71%, rgba(71,53,53,1) 87%);
background: -o-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 8%, rgba(23,23,23,1) 12%, rgba(28,28,28,1) 16%, rgba(41,41,41,1) 23%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 36%, rgba(82,41,38,1) 47%, rgba(112,50,41,1) 61%, rgba(117,58,58,1) 71%, rgba(71,53,53,1) 87%);
background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 8%, rgba(23,23,23,1) 12%, rgba(28,28,28,1) 16%, rgba(41,41,41,1) 23%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 36%, rgba(82,41,38,1) 47%, rgba(112,50,41,1) 61%, rgba(117,58,58,1) 71%, rgba(71,53,53,1) 87%);
background: linear-gradient(to bottom, rgba(19,19,19,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,1) 8%, rgba(23,23,23,1) 12%, rgba(28,28,28,1) 16%, rgba(41,41,41,1) 23%, rgba(43,43,43,1) 24%, rgba(44,44,44,1) 36%, rgba(82,41,38,1) 47%, rgba(112,50,41,1) 61%, rgba(117,58,58,1) 71%, rgba(71,53,53,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#473535', GradientType=0 );
}

.pageWrapper {
  position: relative;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
}
@media all and (min-width: 1000px) {
  .pageWrapper {
    max-width: 80%;
  }
}
.footerWrapper {
  /*этот контейнер дублирует общий контейнер wrap с позиционированием relative,
	но при этом добляет педдинг непосредственно под футер и защищает его от влияния текста контента*/
  margin: 0 auto;
  min-height: 100%;
  /*именно min-height, иначе при обычном свойстве height:100; контент перекроет футер*/
  padding-bottom: 1px;
  /*чтобы футер был прижат, нам обязательно необходимо указать для него именно фиксированную высоту, а основному диву контента добавить свойство padding-bottom:75px (конкретно то фиксированное значение, которое мы выбрали для высоты футера)*/
  /*этот контейнер дублирует общий контейнер wrap с позиционированием relative,
	но при этом добляет педдинг непосредственно под футер и защищает его от влияния текста контента*/
  /*именно min-height, иначе при обычном свойстве height:100; контент перекроет футер*/
  /*чтобы футер был прижат, нам обязательно необходимо указать для него именно фиксированную высоту, а основному диву контента добавить свойство padding-bottom:75px (конкретно то фиксированное значение, которое мы выбрали для высоты футера)*/
}
.clearfix {
  clear: both;
}