footer {
	height: 150px;
	background-color: black;
	background: url(../images/Romanian_Opera_House_Timisoara_2.jpg) center 0;
    background-size: cover;
}

.addMenu {
	float: left;
	margin: 35px 10px 10px 25px;
}

.addMenu-item {
	display: inline-block;
	font-size: 18px;
/*	font-weight: bold;*/
	padding: 0px 10px 0px 10px;

}

.addMenu-item--link {
	color: white;
	text-decoration: none;
}